.backPic{
    margin-left: -100px;
    position: fixed;
}

.myFormDiv {
    margin-left: 200px;
    margin-top: 50px;

    width: 500px;
    box-shadow: #f2f2f2 0px 10px 36px 0px, #f2f2f2 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 2%;
    background-color: white;
    border: 2px solid #968CED;


}

.myInput {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.myLabel{
    font-weight: bold;
}

.title{
    text-align: center;
   
}














#message {
    background-color: #ddd;
    padding: 20px;
    color: black;
    border: 2px solid black;
    display: none;

}

.valid {
    color: green;
    margin-left: 20px;
}

.valid::before {

    content: "✔";
    position: relative;
    margin-right: 20px;
}

.invalid {
    color: red;
    margin-left: 20px;
}

.invalid::before {
    /* content: url("x-circle.svg"); */
    content: "X";
    position: relative;
    margin-right: 20px;
}

.checkPassword {
    position: absolute;
    margin-left: 397px;
    margin-top: -54px;
}

.hidePassword {
    position: absolute;
    margin-left: 397px;
    margin-top: -54px;
    display: none;
}

#nameShow {
    display: none;
}

#nameShowInvalid {
    display: none;
}