
body{
    background-color: #F8F8F8;
}
.navBarContainer{
    background-color: white;
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 
}
.mymenuBtn{
    margin-top: 16px;
}
.myMenuBody{
    width:130px;
    background-color: #F1F1F1;
}

.menuListItemDiv{
    background-color: aliceblue;
    padding: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 20px;
    border-radius: 2%;
    box-sizing: border-box;
}

.icon{
   font-size: 30px;
   margin-left: 26px;
   margin-top: 10px;
}

.menuListItem{
  text-decoration: none;
  list-style: none;
  color: black;
 
}

.menuListItemPara{
    text-decoration: none;
        list-style: none;
        color: black;
        font-size: 15px;
        margin-left: 7px;
     
}
.menuListItemParaStudent {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 15px;
    margin-left: 10px;
}
.menuListItemParaTuition{
    text-decoration: none;
        list-style: none;
        color: black;
        font-size: 15px;
       text-align: center;
}

.menuListItemParaRevenue {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 15px;
    margin-left: 15px;
}


.SearchDiv{
    margin-left: 70px;
  
    width: 260px;
   padding: 18px;
}
.searchItem{
    padding: 5px;
    
   
}
.searchIconDiv{
    margin-left: 15px;
    margin-top: 5px;
}

.logo{
   margin-left: 220px;
}


.userTitleDiv{
    margin-left: 410px;
    margin-top: 28px;
}

.userTitle{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.userImage{
    margin-top: 20px;
    margin-left: 15px;
}

.mysignOutBtn{
    margin-top: 25px;
    margin-left: 35px;
}
