body {
    background-color: #F8F8F8;
    

}

.profileImage {
    position: absolute;
    margin-top: -140px;
    margin-left: 1300px;
}

.profileImageFile{
    margin-left: 1300px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sessionError {
    font-size: 15px;

    color: red;
    margin-top: 10px;

}
.sessionErrorEmployee{
    font-size: 15px;
    
        color: red;
        margin-top: 10px;
}
.sessionErrorPhotoEmployee{
    font-size: 10px;
    
        color: red;
       margin-left: 1300px;
       padding: 5px;
}

.headingDiv {
    display: flex;
    justify-content: center;
    padding: 30px;
    
}

.headingImg{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.leftPartRegStart {
    padding: 30px;
    background-color: white;
    border-radius: 2%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.dobHeading {
    margin-top: 14px;
    margin-left: 5px;
}

.rightPartRegStart {
    padding: 30px;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.sessionErrorIcon{
    position: absolute;
    margin-top: 20px;
}